{
  "singleQuote": true,
  "semi": true,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "quoteProps": "preserve",
  "trailingComma": "all",
  "endOfLine": "lf"
}